/*
*creating this file specifically for the hamburger menu because I can't figure out how to use nested 
*css properties and animations within those nesed componments in tailwind 
*/

.Burger{
    width: 100%;
    /*The nested components that I need to figure out how to implement in Tailwind*/
    &::after, &::before{
        content:"";
        display:block;
        height: 1px;
        width: 40%;
        margin: auto;
        background-color: aliceblue;
        position: relative;
        transition: transform 0.3s ease;
    }

    &::after{
        top: -5px;
    }

    &::before{
        top:5px;
    }
}